<% include partials/header %>
  <h1>WELCOME TO THE CAMPGROUNDS!</h1>
  <a href="/"> Go Back to Home </a>
  <a href="/campgrounds/new"><button>Add Campground</button></a>
 <!--  <form action="/campgrounds" method="POST">
    <input type="text" name='name' placeholder='name'>
    <input type="text" name='image' placeholder='image url'>
    <button>Submit!</button>
</form> -->
  <ul>
    <% campgrounds.forEach(function(camp){ %>
        <h4> <%= camp.name %> </h4>
        <img src="<%= camp.image %>">
    <%});%>
  </ul>
  <a href="/"> Go Back to Home </a>
<% include partials/footer %>